body{
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 25vh 65vh 20vh;
}

img, h1, main, article, nav, footer{
    border:solid black 3px;
    border-radius:10px;
    margin:5px
}

article{
    margin:5px;
}

img,nav{
    width:150px;
    height:auto;
}

h1, article, footer, nav{
text-align: center;
}

nav, img{
    grid-column: 1/2;
}

footer, h1, main, article{
    grid-column:2/2;
}